# Data Preparation 
## 1. Reading Archive Data Group

This datagroup consist timestamp observations of sismic activity and educational socioeconomic data.

In [1]:
import pandas as pd
import numpy as np
import geopandas as gdp

In [2]:
# defining the archive data path that we will need to read several datasets.
path = '../data/archive/'

#make a list of the name of the files we will need to read.in order not to read all of them seperately
lista = ['Earthquakes','Earthquakes2year', 'eClass','eNumber',
     'eStudent', 'eTeachers','hClass','hNumber', 'hStudents',
    'hTeachers','hTypes','ilcelervekoordinatlar', 'mClass',
    'mNumber', 'mNumber','mStudents', 'mTeachers', 'pClass',
    'pNumber', 'pStudents', 'pTeachers',]
# making a dictionary of dataframe.
data = {}
# reading the files and adding them to the dictionary.
for file_name in lista:
    df = pd.read_csv(f"{path}{file_name}.csv")
    data[file_name] = df

This is a  dataset from https://www.kaggle.com/datasets/ardaorcun/turkey-6-february-disaster-and-related-datas which is a combination of several datasets from other sources below.

For earthquakes: https://deprem.afad.gov.tr/event-catalog

For any data about population and economic numbers: https://www.tuik.gov.tr/

For datas about education: https://istatistik.meb.gov.tr/

Earthquakes dataset represents the sismic activity of the region. all activities are listed with a timestamp.

ilcelervkordinatlar.csv has the population data from https://www.tuik.gov.tr/ 

The other csv files has the dataset about education according to prefix:

    datasets starting with e =>  elementary school data
    datasets starting with p => preschool data
    datasets starting with h => high school data
    datasets starting with m => middle school data

according to suffixes:

    Class => number of classes avaliable
    Number => number of institutions available
    Students => number of students
    Teachers = > number of teachers
    Type => for high schools type of the highschool

In [23]:
def rename_columns(df, prefix):
    return df.rename(columns={
        'Resmi': f'{prefix}_public',
        'Özel': f'{prefix}_private',
        'Toplam': f'{prefix}_total',
        'R Erkek': f'{prefix}_male_public',
        'R Kadın': f'{prefix}_female_public',
        'R Toplam': f'{prefix}_total_public',
        'Ö Erkek': f'{prefix}_male_private',
        'Ö Kadın': f'{prefix}_female_private',
        'Ö Toplam': f'{prefix}_total_private',
    })

def rename_hs_type(df, type_name, prefix):
    df_filtered = df[df['Okul Türü'] == type_name]
    return rename_columns(df_filtered, prefix)

In [24]:

# Elementary schools
eClass = rename_columns(data['eClass'], 'eclass')
eNumber = rename_columns(data['eNumber'], 'enumber')
eStudent = rename_columns(data['eStudent'], 'e')
eTeachers = rename_columns(data['eTeachers'], 'et')

# High schools
hClass = rename_columns(data['hClass'], 'hclass')
hNumber = rename_columns(data['hNumber'], 'hnumber')
hStudents = rename_columns(data['hStudents'], 'h')
hTeachers = rename_columns(data['hTeachers'], 'ht')

# High school types
hType_din = rename_hs_type(data['hTypes'], 'Din Öğretimi', 'hs_religious')
hTypes_meslek = rename_hs_type(data['hTypes'], 'Mesleki ve Teknik Ortaöğretim', 'h_occupational')
hTypes_genel = rename_hs_type(data['hTypes'], 'Genel Ortaöğretim', 'h_normal')

# Middle schools
mClass = rename_columns(data['mClass'], 'mclass')
mNumber = rename_columns(data['mNumber'], 'mnumber')
mStudents = rename_columns(data['mStudents'], 'm')
mTeachers = rename_columns(data['mTeachers'], 'mt')

# Preschools
pClass = rename_columns(data['pClass'], 'pclass')
pNumber = rename_columns(data['pNumber'], 'pnumber')
pStudents = rename_columns(data['pStudents'], 'p')
pTeachers = rename_columns(data['pTeachers'], 'pt')

In [25]:
data

{'Earthquakes':        Unnamed: 0                Date  Longitude  Latitude  Depth   Rms Type  \
 15816       15816 2023-02-05 00:00:55     38.828    38.255   6.73  0.16   ML
 14453       14453 2023-02-05 00:54:55     43.954    41.209  11.26  0.29   ML
 12787       12787 2023-02-05 02:31:06     44.942    38.648  11.86  0.58   ML
 6374         6374 2023-02-05 02:37:25     42.641    38.389   7.12  0.28   ML
 9837         9837 2023-02-05 03:18:37     39.186    38.469   7.00  0.28   ML
 ...           ...                 ...        ...       ...    ...   ...  ...
 574           574 2023-03-10 07:58:34     37.493    37.985   7.01  0.41   MW
 6268         6268 2023-03-10 08:02:35     38.192    38.054   7.00  0.66   ML
 12575       12575 2023-03-10 08:04:56     37.387    37.951   7.00  0.91   ML
 11718       11718 2023-03-10 08:08:34     36.199    37.805   7.00  0.67   ML
 15015       15015 2023-03-10 08:14:17     36.939    37.289  13.04  0.32   ML

        Magnitude                                           Location  EventID  \
 15816        0.8                                  PÜTÜRGE (MALATYA)   543347
 14453        1.3  NINOTSMINDA, SAMTSKHE-JAVAKHETI (GÜRCISTAN) - ...   543353
 12787        1.6  KHOY, WEST AZARBAIJAN (İRAN) - [55.57 KM] BAŞK...   543359
 6374         2.3                                    TATVAN (BITLIS)   543358
 9837         1.9                                   SIVRICE (ELAZIĞ)   543363
 ...          ...                                                ...      ...
 574          3.9                             NURHAK (KAHRAMANMARAŞ)   560818
 6268         2.3                                ÇELIKHAN (ADIYAMAN)   560841
 12575        1.6                             NURHAK (KAHRAMANMARAŞ)   560838
 11718        1.7                                  SAIMBEYLI (ADANA)   560839
 15015        1.2                                NURDAĞI (GAZIANTEP)   560840

             Province                        Municipio  \
 15816        MALATYA                          PÜTÜRGE
 14453      GÜRCISTAN  NINOTSMINDA, SAMTSKHE-JAVAKHETI
 12787           İRAN            KHOY, WEST AZARBAIJAN
 6374          BITLIS                           TATVAN
 9837          ELAZIĞ                          SIVRICE
 ...              ...                              ...
 574    KAHRAMANMARAŞ                           NURHAK
 6268        ADIYAMAN                         ÇELIKHAN
 12575  KAHRAMANMARAŞ                           NURHAK
 11718          ADANA                        SAIMBEYLI
 15015      GAZIANTEP                          NURDAĞI

                                    Location_name
 15816                            MALATYA-PÜTÜRGE
 14453  GÜRCISTAN-NINOTSMINDA, SAMTSKHE-JAVAKHETI
 12787                 İRAN-KHOY, WEST AZARBAIJAN
 6374                               BITLIS-TATVAN
 9837                              ELAZIĞ-SIVRICE
 ...                                          ...
 574                         KAHRAMANMARAŞ-NURHAK
 6268                           ADIYAMAN-ÇELIKHAN
 12575                       KAHRAMANMARAŞ-NURHAK
 11718                            ADANA-SAIMBEYLI
 15015                          GAZIANTEP-NURDAĞI

 [15901 rows x 13 columns],
 'Earthquakes2year':                       Date  Longitude  Latitude  Depth   Rms Type  Magnitude  \
 0      2023-03-11 06:45:50    37.9030   38.1080   7.00  0.45   ML        2.0
 1      2023-03-11 06:37:49    36.1890   37.1380   7.00  0.63   ML        3.3
 2      2023-03-11 06:35:10    37.7920   38.0340   7.00  0.71   ML        1.7
 3      2023-03-11 06:31:06    38.1610   37.9380   6.56  0.70   ML        2.8
 4      2023-03-11 06:21:48    38.0950   38.1860   7.01  0.61   ML        1.8
 ...                    ...        ...       ...    ...   ...  ...        ...
 35575  2020-03-09 10:27:14    38.7603   38.2685   7.00  0.17   ML        1.3
 35576  2020-03-09 09:10:38    38.8236   38.2473   7.00  0.34   ML        2.0
 35577  2020-03-09 09:10:05    39.0920   38.3565   7.00  0.57   ML        1.1
 35578  2020-03-09 09:08:13    38.9616   38.3075   7.00  0.80   ML        1.1
 35579  2020-03-09 09:04:47    36.2860   37.8008   7.00  0.39   ML        1.1

                       Location  EventID
 0         Doğanşehir (Malatya)   561402
 1            Merkez (Osmaniye)   561394
 2         Doğanşehir (Malatya)   561396
 3            Merkez (Adıyaman)   561395
 4          Yeşilyurt (Malatya)   561399
 ...                        ...      ...
 35575        Pütürge (Malatya)   468799
 35576        Pütürge (Malatya)   468794
 35577         Sivrice (Elazığ)   468792
 35578       Doğanyol (Malatya)   468791
 35579  Andırın (Kahramanmaraş)   468795

 [35580 rows x 9 columns],
 'eClass':            Şehir  Resmi  Özel  Toplam
 0          ADANA   1456   744    2200
 1       ADIYAMAN    579   180     759
 2     DİYARBAKIR   1686   256    1942
 3      GAZİANTEP   1657   522    2179
 4          HATAY   1396   628    2024
 5        MALATYA    558   246     804
 6  KAHRAMANMARAŞ    876   204    1080
 7      ŞANLIURFA   1977   273    2250
 8          KİLİS    173    33     206
 9       OSMANİYE    422   123     545,
 'eNumber':            Şehir  Resmi  Özel  Toplam
 0          ADANA    638   150     788
 1       ADIYAMAN    375    35     410
 2     DİYARBAKIR   1047    70    1117
 3      GAZİANTEP    675    93     768
 4          HATAY    683   128     811
 5        MALATYA    310    53     363
 6  KAHRAMANMARAŞ    479    53     532
 7      ŞANLIURFA   1307    77    1384
 8          KİLİS     96    10     106
 9       OSMANİYE    226    36     262,
 'eStudent':            Şehir  R Erkek  R Kadın  R Toplam  Ö Erkek  Ö Kadın  Ö Toplam  \
 0          ADANA    22426    21309     43735     4215     3557      7772
 1       ADIYAMAN     8659     8078     16737      766      583      1349
 2     DİYARBAKIR    25021    23239     48260     1765     1509      3274
 3      GAZİANTEP    28937    27087     56024     2182     1881      4063
 4          HATAY    23986    22570     46556     2838     2299      5137
 5        MALATYA     6996     6577     13573     1188     1093      2281
 6  KAHRAMANMARAŞ    14232    13363     27595     1148      973      2121
 7      ŞANLIURFA    32861    31207     64068     1367     1146      2513
 8          KİLİS     2768     2727      5495      171      150       321
 9       OSMANİYE     6799     6302     13101      703      653      1356

    Toplam
 0   51507
 1   18086
 2   51534
 3   60087
 4   51693
 5   15854
 6   29716
 7   66581
 8    5816
 9   14457  ,
 'eTeachers':            Şehir  R Erkek  R Kadın  R Toplam  Ö Erkek  Ö Kadın  Ö Toplam  \
 0          ADANA      203     2121      2324       14      543       557
 1       ADIYAMAN      121      647       768        7      131       138
 2     DİYARBAKIR      341     1872      2213        6      220       226
 3      GAZİANTEP      214     2123      2337        7      389       396
 4          HATAY      195     1841      2036       12      405       417
 5        MALATYA       83      709       792        9       87        96
 6  KAHRAMANMARAŞ      158     1031      1189        7      135       142
 7      ŞANLIURFA      345     2152      2497       11      217       228
 8          KİLİS       47      205       252        0       50        50
 9       OSMANİYE       71      593       664        8      115       123

    Toplam
 0    2881
 1     906
 2    2439
 3    2733
 4    2453
 5     888
 6    1331
 7    2725
 8     302
 9     787  ,
 'hClass':            Şehir  Resmi  Özel  Toplam
 0          ADANA   4938  1144    6082
 1       ADIYAMAN   1710   222    1932
 2     DİYARBAKIR   3616  1168    4784
 3      GAZİANTEP   5369  1052    6421
 4          HATAY   3662   924    4586
 5        MALATYA   2032   723    2755
 6  KAHRAMANMARAŞ   2882   483    3365
 7      ŞANLIURFA   5128  1266    6394
 8          KİLİS    484    94     578
 9       OSMANİYE   1329   303    1632,
 'hNumber':            Şehir  Resmi  Özel  Toplam
 0          ADANA    233    68     301
 1       ADIYAMAN     95    21     116
 2     DİYARBAKIR    186    76     262
 3      GAZİANTEP    224    83     307
 4          HATAY    174    71     245
 5        MALATYA    113    47     160
 6  KAHRAMANMARAŞ    156    40     196
 7      ŞANLIURFA    225    71     296
 8          KİLİS     29     4      33
 9       OSMANİYE     70    31     101,
 'hStudents':            Şehir  R Erkek  R Kadın  R Toplam  Ö Erkek  Ö Kadın  Ö Toplam  \
 0          ADANA    67215    60453    127668     8873     5541     14414
 1       ADIYAMAN    25342    22711     48053     1725     1006      2731
 2     DİYARBAKIR    59033    60088    119121    11610     6588     18198
 3      GAZİANTEP    76637    68912    145549     6461     4988     11449
 4          HATAY    59609    57039    116648     5809     4611     10420
 5        MALATYA    24435    23963     48398     4912     2828      7740
 6  KAHRAMANMARAŞ    38631    37426     76057     3352     2226      5578
 7      ŞANLIURFA    74749    65022    139771    15425     6166     21591
 8          KİLİS     6460     6224     12684      267      173       440
 9       OSMANİYE    20772    18712     39484     1670     1277      2947

    Toplam
 0  142082
 1   50784
 2  137319
 3  156998
 4  127068
 5   56138
 6   81635
 7  161362
 8   13124
 9   42431  ,
 'hTeachers':            Şehir  R Erkek  R Kadın  R Toplam  Ö Erkek  Ö Kadın  Ö Toplam  \
 0          ADANA     4461     4334      8795      538      870      1408
 1       ADIYAMAN     2199     1120      3319      199      140       339
 2     DİYARBAKIR     3967     3037      7004      655      585      1240
 3      GAZİANTEP     4664     4218      8882      675      645      1320
 4          HATAY     3929     3247      7176      508      523      1031
 5        MALATYA     2473     1590      4063      358      419       777
 6  KAHRAMANMARAŞ     3091     2131      5222      338      373       711
 7      ŞANLIURFA     4299     3694      7993      841      628      1469
 8          KİLİS      478      423       901       26       31        57
 9       OSMANİYE     1563     1065      2628      253      231       484

    Toplam
 0   10203
 1    3658
 2    8244
 3   10202
 4    8207
 5    4840
 6    5933
 7    9462
 8     958
 9    3112  ,
 'hTypes':             Şehir                      Okul Türü  R Erkek  R Kadın  R Toplam  \
 0           ADANA                   Din Öğretimi     4736     6512     11248
 1           ADANA  Mesleki ve Teknik Ortaöğretim    33172    16150     49322
 2           ADANA              Genel Ortaöğretim    53095    59103    112198
 3        ADIYAMAN                   Din Öğretimi     3811     4624      8435
 4        ADIYAMAN  Mesleki ve Teknik Ortaöğretim    11918     6386     18304
 5        ADIYAMAN              Genel Ortaöğretim    17125    16677     33802
 6      DİYARBAKIR                   Din Öğretimi     9849     8667     18516
 7      DİYARBAKIR  Mesleki ve Teknik Ortaöğretim    22157    17001     39158
 8      DİYARBAKIR              Genel Ortaöğretim    49385    47413     96798
 9       GAZİANTEP                   Din Öğretimi     6479     8165     14644
 10      GAZİANTEP  Mesleki ve Teknik Ortaöğretim    36816    17373     54189
 11      GAZİANTEP              Genel Ortaöğretim    64147    66431    130578
 12          HATAY                   Din Öğretimi     5918     8319     14237
 13          HATAY  Mesleki ve Teknik Ortaöğretim    27123    16824     43947
 14          HATAY              Genel Ortaöğretim    41579    44264     85843
 15        MALATYA                   Din Öğretimi     2906     3953      6859
 16        MALATYA  Mesleki ve Teknik Ortaöğretim     8634     4036     12670
 17        MALATYA              Genel Ortaöğretim    19944    21623     41567
 18  KAHRAMANMARAŞ                   Din Öğretimi     4031     7446     11477
 19  KAHRAMANMARAŞ  Mesleki ve Teknik Ortaöğretim    17800     8419     26219
 20  KAHRAMANMARAŞ              Genel Ortaöğretim    30129    32187     62316
 21      ŞANLIURFA                   Din Öğretimi    13263    13860     27123
 22      ŞANLIURFA  Mesleki ve Teknik Ortaöğretim    25493    15889     41382
 23      ŞANLIURFA              Genel Ortaöğretim    65491    50579    116070
 24          KİLİS                   Din Öğretimi     1686     2107      3793
 25          KİLİS  Mesleki ve Teknik Ortaöğretim     2555     1280      3835
 26          KİLİS              Genel Ortaöğretim     3876     4212      8088
 27       OSMANİYE                   Din Öğretimi     2302     2683      4985
 28       OSMANİYE  Mesleki ve Teknik Ortaöğretim    10105     5417     15522
 29       OSMANİYE              Genel Ortaöğretim    12687    14221     26908

     Ö Erkek  Ö Kadın  Ö Toplam  Toplam
 0         0        0         0   11248
 1      4623     1644      6267   55589
 2      4250     3897      8147  120345
 3         0        0         0    8435
 4       812      270      1082   19386
 5       913      736      1649   35451
 6         0        0         0   18516
 7      7204     3502     10706   49864
 8      4406     3086      7492  104290
 9         0        0         0   14644
 10     1516      351      1867   56056
 11     4945     4637      9582  140160
 12        0        0         0   14237
 13     1351      666      2017   45964
 14     4458     3945      8403   94246
 15        0        0         0    6859
 16     2507      897      3404   16074
 17     2405     1931      4336   45903
 18        0        0         0   11477
 19     1657      540      2197   28416
 20     1695     1686      3381   65697
 21        0        0         0   27123
 22     8051     2704     10755   52137
 23     7374     3462     10836  126906
 24        0        0         0    3793
 25      154       99       253    4088
 26      113       74       187    8275
 27        0        0         0    4985
 28      501      237       738   16260
 29     1169     1040      2209   29117  ,
 'ilcelervekoordinatlar':      Unnamed: 0                İlçeler  Kayıtlı Nüfus  Longitude  Latitude  \
 0             0          ADANA(ALADAĞ)           5642    35.3950   37.5467
 1             1          ADANA(CEYHAN)          44498    35.8147   37.0286
 2             2        ADANA(ÇUKUROVA)         120591    35.2721   37.0400
 3             3            ADANA(FEKE)           6110    35.9109   37.8182
 4             4        ADANA(İMAMOĞLU)           8464    35.6582   37.2596
 ..          ...                    ...            ...        ...       ...
 108         108      ŞANLIURFA(HILVAN)           8935    38.9552   37.5852
 109         109   ŞANLIURFA(KARAKÖPRÜ)          65067    38.7992   37.2127
 110         110     ŞANLIURFA(SIVEREK)          52063    39.3168   37.7546
 111         111       ŞANLIURFA(SURUÇ)          20463    38.4243   36.9751
 112         112  ŞANLIURFA(VIRANŞEHIR)          40959    39.7612   37.2359

       Province        city
 0        ADANA      ALADAĞ
 1        ADANA      CEYHAN
 2        ADANA    ÇUKUROVA
 3        ADANA        FEKE
 4        ADANA    İMAMOĞLU
 ..         ...         ...
 108  ŞANLIURFA      HILVAN
 109  ŞANLIURFA   KARAKÖPRÜ
 110  ŞANLIURFA     SIVEREK
 111  ŞANLIURFA       SURUÇ
 112  ŞANLIURFA  VIRANŞEHIR

 [113 rows x 7 columns],
 'mClass':            Şehir  Resmi  Özel  Toplam
 0          ADANA   4608   687    5295
 1       ADIYAMAN   2135    83    2218
 2     DİYARBAKIR   3397   474    3871
 3      GAZİANTEP   5838   577    6415
 4          HATAY   3967   473    4440
 5        MALATYA   1712   228    1940
 6  KAHRAMANMARAŞ   3135   379    3514
 7      ŞANLIURFA   6464   432    6896
 8          KİLİS    665    32     697
 9       OSMANİYE   1535   174    1709,
 'mNumber':            Şehir  Resmi  Özel  Toplam
 0          ADANA    343    41     384
 1       ADIYAMAN    219    13     232
 2     DİYARBAKIR    457    37     494
 3      GAZİANTEP    371    37     408
 4          HATAY    431    33     464
 5        MALATYA    219    21     240
 6  KAHRAMANMARAŞ    305    21     326
 7      ŞANLIURFA    743    33     776
 8          KİLİS     44     4      48
 9       OSMANİYE    122    16     138,
 'mStudents':            Şehir  R Erkek  R Kadın  R Toplam  Ö Erkek  Ö Kadın  Ö Toplam  \
 0          ADANA    76980    73617    150597     4662     4084      8746
 1       ADIYAMAN    23753    22598     46351      659      506      1165
 2     DİYARBAKIR    70308    67956    138264     3609     2885      6494
 3      GAZİANTEP    99919    97404    197323     3184     2878      6062
 4          HATAY    69840    66469    136309     2699     2427      5126
 5        MALATYA    24338    23397     47735     1633     1385      3018
 6  KAHRAMANMARAŞ    46325    44036     90361     1643     1529      3172
 7      ŞANLIURFA   110704   108997    219701     2744     2059      4803
 8          KİLİS     8909     8638     17547      206      123       329
 9       OSMANİYE    20036    19039     39075      980      804      1784

    Toplam
 0  159343
 1   47516
 2  144758
 3  203385
 4  141435
 5   50753
 6   93533
 7  224504
 8   17876
 9   40859  ,
 'mTeachers':            Şehir  R Erkek  R Kadın  R Toplam  Ö Erkek  Ö Kadın  Ö Toplam  \
 0          ADANA     3944     5337      9281      214      513       727
 1       ADIYAMAN     2222     1667      3889       75       82       157
 2     DİYARBAKIR     4781     4491      9272      220      268       488
 3      GAZİANTEP     4677     6586     11263      200      401       601
 4          HATAY     4147     5001      9148      184      317       501
 5        MALATYA     2018     1985      4003      155      154       309
 6  KAHRAMANMARAŞ     3064     3110      6174      117      163       280
 7      ŞANLIURFA     5540     7036     12576      188      248       436
 8          KİLİS      516      684      1200       13       16        29
 9       OSMANİYE     1393     1489      2882      114      119       233

    Toplam
 0   10008
 1    4046
 2    9760
 3   11864
 4    9649
 5    4312
 6    6454
 7   13012
 8    1229
 9    3115  ,
 'pClass':            Şehir  Resmi  Özel  Toplam
 0          ADANA   1456   744    2200
 1       ADIYAMAN    579   180     759
 2     DİYARBAKIR   1686   256    1942
 3      GAZİANTEP   1657   522    2179
 4          HATAY   1396   628    2024
 5        MALATYA    558   246     804
 6  KAHRAMANMARAŞ    876   204    1080
 7      ŞANLIURFA   1977   273    2250
 8          KİLİS    173    33     206
 9       OSMANİYE    422   123     545,
 'pNumber':            Şehir  Resmi  Özel  Toplam
 0          ADANA    638   150     788
 1       ADIYAMAN    375    35     410
 2     DİYARBAKIR   1047    70    1117
 3      GAZİANTEP    675    93     768
 4          HATAY    683   128     811
 5        MALATYA    310    53     363
 6  KAHRAMANMARAŞ    479    53     532
 7      ŞANLIURFA   1307    77    1384
 8          KİLİS     96    10     106
 9       OSMANİYE    226    36     262,
 'pStudents':            Şehir  R Erkek  R Kadın  R Toplam  Ö Erkek  Ö Kadın  Ö Toplam  \
 0          ADANA    22426    21309     43735     4215     3557      7772
 1       ADIYAMAN     8659     8078     16737      766      583      1349
 2     DİYARBAKIR    25021    23239     48260     1765     1509      3274
 3      GAZİANTEP    28937    27087     56024     2182     1881      4063
 4          HATAY    23986    22570     46556     2838     2299      5137
 5        MALATYA     6996     6577     13573     1188     1093      2281
 6  KAHRAMANMARAŞ    14232    13363     27595     1148      973      2121
 7      ŞANLIURFA    32861    31207     64068     1367     1146      2513
 8          KİLİS     2768     2727      5495      171      150       321
 9       OSMANİYE     6799     6302     13101      703      653      1356

    Toplam
 0   51507
 1   18086
 2   51534
 3   60087
 4   51693
 5   15854
 6   29716
 7   66581
 8    5816
 9   14457  ,
 'pTeachers':            Şehir  R Erkek  R Kadın  R Toplam  Ö Erkek  Ö Kadın  Ö Toplam  \

School datasets has the same column name in order not to mix with each other we are changing the column names. "Resmi" means public and "özel" means private. "erkek" and "kadin" mean male and female students.

In [8]:

# Now we are merging the dataframes according on Province column 
# List of dataframe names to be merged

df_names = [eClass, eNumber, eStudent, eTeachers, hClass, hNumber,
            hStudents,hType_din, hTypes_meslek, hTypes_genel,
            hTeachers,mClass, mNumber, mStudents,
            mTeachers, pClass, pNumber, pStudents, pTeachers]

# Initialize the merged dataframe with the first dataframe in the list
merged = eClass

# Loop over the remaining dataframes and merge them into the merged dataframe
for df_name in df_names[1:]:
    
    merged = pd.merge(merged, df_name, on='Şehir')

# View the resulting merged dataframe
merged= merged.rename(columns={'Şehir':'Province'})
merged.columns

merged.to_csv('../data/archive/merged.csv', index=False)

merged

,Province,eclass_public,eclass_private,eclass_total,enumber_public,enumber_private,enumber_total,e_male_public,e_female_public,e_total_public,...,p_female_private,p_total_private,p_total,pt_male_public,pt_female_public,pt_total_public,pt_male_private,pt_female_private,pt_total_private,pt_total
0,ADANA,1456,744,2200,638,150,788,22426,21309,43735,...,3557,7772,51507,203,2121,2324,14,543,557,2881
1,ADIYAMAN,579,180,759,375,35,410,8659,8078,16737,...,583,1349,18086,121,647,768,7,131,138,906
2,DİYARBAKIR,1686,256,1942,1047,70,1117,25021,23239,48260,...,1509,3274,51534,341,1872,2213,6,220,226,2439
3,GAZİANTEP,1657,522,2179,675,93,768,28937,27087,56024,...,1881,4063,60087,214,2123,2337,7,389,396,2733
4,HATAY,1396,628,2024,683,128,811,23986,22570,46556,...,2299,5137,51693,195,1841,2036,12,405,417,2453
5,MALATYA,558,246,804,310,53,363,6996,6577,13573,...,1093,2281,15854,83,709,792,9,87,96,888
6,KAHRAMANMARAŞ,876,204,1080,479,53,532,14232,13363,27595,...,973,2121,29716,158,1031,1189,7,135,142,1331
7,ŞANLIURFA,1977,273,2250,1307,77,1384,32861,31207,64068,...,1146,2513,66581,345,2152,2497,11,217,228,2725
8,KİLİS,173,33,206,96,10,106,2768,2727,5495,...,150,321,5816,47,205,252,0,50,50,302
9,OSMANİYE,422,123,545,226,36,262,6799,6302,13101,...,653,1356,14457,71,593,664,8,115,123,787

In [9]:
# saving the dataframe as pickle file to be called later in the notebook and not to lose the manipulations.
merged.to_pickle('../data/archive/merged.pkl')

In [10]:
city = data['ilcelervekoordinatlar']
city

,Unnamed: 0,İlçeler,Kayıtlı Nüfus,Longitude,Latitude
0,0,Adana(Aladağ)-1757,5642,35.3950,37.5467
1,1,Adana(Ceyhan)-1219,44498,35.8147,37.0286
2,2,Adana(Çukurova)-2033,120591,35.2721,37.0400
3,3,Adana(Feke)-1329,6110,35.9109,37.8182
4,4,Adana(İmamoğlu)-1806,8464,35.6582,37.2596
...,...,...,...,...,...
108,108,Şanlıurfa(Hilvan)-1393,8935,38.9552,37.5852
109,109,Şanlıurfa(Karaköprü)-2093,65067,38.7992,37.2127
110,110,Şanlıurfa(Siverek)-1630,52063,39.3168,37.7546
111,111,Şanlıurfa(Suruç)-1643,20463,38.4243,36.9751
112,112,Şanlıurfa(Viranşehir)-1713,40959,39.7612,37.2359

In [11]:
import pandas as pd

# Assume city is your DataFrame and 'İlçeler' is your column

# Step 1: Get rid off last 5 characters
city['İlçeler'] = city['İlçeler'].str[:-5]

# Step 2: Uppercase all
city['İlçeler'] = city['İlçeler'].str.upper()

# Step 3: Separate into 'province' and 'city' columns
city['Province'], city['city'] = city['İlçeler'].str.split('(', 1).str
city['city'] = city['city'].str.rstrip(')')  # remove trailing ')'

/tmp/ipykernel_68944/3724562047.py:12: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  city['Province'], city['city'] = city['İlçeler'].str.split('(', 1).str
/tmp/ipykernel_68944/3724562047.py:12: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  city['Province'], city['city'] = city['İlçeler'].str.split('(', 1).str

The next dataset has locations of the towns and provinces and population

In [12]:
merged_data = city.merge(merged, on='Province')

merged_data.to_pickle('../data/manipulated/merged_data.pkl')

In [13]:
from shapely.geometry import Point 

merged_data = pd.read_pickle('../data/manipulated/merged_data.pkl')


merged_data['Geometry'] = merged_data.apply(lambda row: Point(row['Longitude'], row['Latitude']), axis=1)

merged_data.to_pickle('../data/manipulated/merged_data.pkl')

In [14]:
merged_data

,Unnamed: 0,İlçeler,Kayıtlı Nüfus,Longitude,Latitude,Province,city,eclass_public,eclass_private,eclass_total,...,p_total_private,p_total,pt_male_public,pt_female_public,pt_total_public,pt_male_private,pt_female_private,pt_total_private,pt_total,Geometry
0,0,ADANA(ALADAĞ),5642,35.3950,37.5467,ADANA,ALADAĞ,1456,744,2200,...,7772,51507,203,2121,2324,14,543,557,2881,POINT (35.395 37.5467)
1,1,ADANA(CEYHAN),44498,35.8147,37.0286,ADANA,CEYHAN,1456,744,2200,...,7772,51507,203,2121,2324,14,543,557,2881,POINT (35.8147 37.0286)
2,2,ADANA(ÇUKUROVA),120591,35.2721,37.0400,ADANA,ÇUKUROVA,1456,744,2200,...,7772,51507,203,2121,2324,14,543,557,2881,POINT (35.2721 37.04)
3,3,ADANA(FEKE),6110,35.9109,37.8182,ADANA,FEKE,1456,744,2200,...,7772,51507,203,2121,2324,14,543,557,2881,POINT (35.9109 37.8182)
4,4,ADANA(İMAMOĞLU),8464,35.6582,37.2596,ADANA,İMAMOĞLU,1456,744,2200,...,7772,51507,203,2121,2324,14,543,557,2881,POINT (35.6582 37.2596)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,108,ŞANLIURFA(HILVAN),8935,38.9552,37.5852,ŞANLIURFA,HILVAN,1977,273,2250,...,2513,66581,345,2152,2497,11,217,228,2725,POINT (38.9552 37.5852)
72,109,ŞANLIURFA(KARAKÖPRÜ),65067,38.7992,37.2127,ŞANLIURFA,KARAKÖPRÜ,1977,273,2250,...,2513,66581,345,2152,2497,11,217,228,2725,POINT (38.7992 37.2127)
73,110,ŞANLIURFA(SIVEREK),52063,39.3168,37.7546,ŞANLIURFA,SIVEREK,1977,273,2250,...,2513,66581,345,2152,2497,11,217,228,2725,POINT (39.3168 37.7546)
74,111,ŞANLIURFA(SURUÇ),20463,38.4243,36.9751,ŞANLIURFA,SURUÇ,1977,273,2250,...,2513,66581,345,2152,2497,11,217,228,2725,POINT (38.4243 36.9751)
75,112,ŞANLIURFA(VIRANŞEHIR),40959,39.7612,37.2359,ŞANLIURFA,VIRANŞEHIR,1977,273,2250,...,2513,66581,345,2152,2497,11,217,228,2725,POINT (39.7612 37.2359)

Earthquakes dataset has the data of measured earthquakes from 5th of February(preivous day of disaster) to 10th of March from  https://deprem.afad.gov.tr/event-catalog 

Dataset consist of below variables:

    Date => timestamp of the sismic activity
    Longitude => longitude
    Latitude => latitude
    Depth => depth 
    Rms => Root mean square
    Magnitude => the measurements
    Location => Province and time name
    Type => ML as local magnitude MW as moment magnitude
    EventID => event identifier of the database.

In [15]:
#extracting earthquake data from data dictionary
earthquake = data['Earthquakes']
# changing Location to uppercase to match with the merged_data
earthquake.Location = earthquake.Location.str.upper()
# changing the date column to datetime format
earthquake.Date = pd.to_datetime(earthquake.Date)
# sorting the values by date
earthquake.sort_values(by='Date', inplace=True)
earthquake

,Unnamed: 0,Date,Longitude,Latitude,Depth,Rms,Type,Magnitude,Location,EventID
15816,15816,2023-02-05 00:00:55,38.828,38.255,6.73,0.16,ML,0.8,PÜTÜRGE (MALATYA),543347
14453,14453,2023-02-05 00:54:55,43.954,41.209,11.26,0.29,ML,1.3,"NINOTSMINDA, SAMTSKHE-JAVAKHETI (GÜRCISTAN) - ...",543353
12787,12787,2023-02-05 02:31:06,44.942,38.648,11.86,0.58,ML,1.6,"KHOY, WEST AZARBAIJAN (İRAN) - [55.57 KM] BAŞK...",543359
6374,6374,2023-02-05 02:37:25,42.641,38.389,7.12,0.28,ML,2.3,TATVAN (BITLIS),543358
9837,9837,2023-02-05 03:18:37,39.186,38.469,7.00,0.28,ML,1.9,SIVRICE (ELAZIĞ),543363
...,...,...,...,...,...,...,...,...,...,...
574,574,2023-03-10 07:58:34,37.493,37.985,7.01,0.41,MW,3.9,NURHAK (KAHRAMANMARAŞ),560818
6268,6268,2023-03-10 08:02:35,38.192,38.054,7.00,0.66,ML,2.3,ÇELIKHAN (ADIYAMAN),560841
12575,12575,2023-03-10 08:04:56,37.387,37.951,7.00,0.91,ML,1.6,NURHAK (KAHRAMANMARAŞ),560838
11718,11718,2023-03-10 08:08:34,36.199,37.805,7.00,0.67,ML,1.7,SAIMBEYLI (ADANA),560839
15015,15015,2023-03-10 08:14:17,36.939,37.289,13.04,0.32,ML,1.2,NURDAĞI (GAZIANTEP),560840

In [16]:
# Deescriptive statistics of the earthquake data
earthquake.describe()

,Unnamed: 0,Longitude,Latitude,Depth,Rms,Magnitude,EventID
count,15901.00000,15901.000000,15901.000000,15901.000000,15901.000000,15901.000000,15901.000000
mean,7950.00000,37.473933,37.810726,7.684039,0.443839,2.265606,552010.119364
std,4590.36765,1.216845,0.726524,2.404630,0.256377,0.782173,5029.779034
min,0.00000,35.556000,33.835000,0.000000,0.010000,0.300000,543347.000000
25%,3975.00000,36.621000,37.420000,7.000000,0.270000,1.700000,547646.000000
50%,7950.00000,37.179000,37.955000,7.000000,0.420000,2.100000,551940.000000
75%,11925.00000,38.103000,38.137000,7.120000,0.590000,2.700000,556350.000000
max,15900.00000,45.419000,42.497000,43.160000,7.540000,7.700000,560849.000000

In [17]:
import folium

# Create a folium map centered at a specific location
m = folium.Map(location=[37, 37], zoom_start=10)

# Iterate over each row in the merged_data dataframe
for index, row in merged_data.iterrows():
    # Extract the geometry point from the 'Geometry' column
    geometry = row['Geometry']
    
    # Extract the latitude and longitude from the geometry point
    lat = geometry.y
    lon = geometry.x
    
    # Create a marker at the latitude and longitude coordinates
    folium.Marker([lat, lon]).add_to(m)

# Display the map
m

In [18]:
#manipulating the earthquake data 
#dropping the unnamed column
#earthquake.drop(columns= ['Unnamed: 0'], inplace=True)
# extracting Province and Municipality from Location column
earthquake['Province'] = earthquake['Location'].str.extract(r'\((.*?)\)')
earthquake['Municipio'] = earthquake['Location'].str.extract(r'^(.*?)\s*\(')


earthquake['Location_name'] = earthquake['Province']+ "-"+ earthquake['Municipio']

earthquake['Location_name']

15816                              MALATYA-PÜTÜRGE
14453    GÜRCISTAN-NINOTSMINDA, SAMTSKHE-JAVAKHETI
12787                   İRAN-KHOY, WEST AZARBAIJAN
6374                                 BITLIS-TATVAN
9837                                ELAZIĞ-SIVRICE
                           ...
574                           KAHRAMANMARAŞ-NURHAK
6268                             ADIYAMAN-ÇELIKHAN
12575                         KAHRAMANMARAŞ-NURHAK
11718                              ADANA-SAIMBEYLI
15015                            GAZIANTEP-NURDAĞI
Name: Location_name, Length: 15901, dtype: object

In [19]:
# grouping earthquake data by province to see how many earthquakes happened in each province
earthquake.groupby('Location_name').count()

,Unnamed: 0,Date,Longitude,Latitude,Depth,Rms,Type,Magnitude,Location,EventID,Province,Municipio
Location_name,,,,,,,,,,,,
ADANA-AKDENIZ - İSKENDERUN KÖRFEZI - [09.27 KM] YUMURTALIK,1,1,1,1,1,1,1,1,1,1,1,1
ADANA-ALADAĞ,2,2,2,2,2,2,2,2,2,2,2,2
ADANA-CEYHAN,17,17,17,17,17,17,17,17,17,17,17,17
ADANA-FEKE,12,12,12,12,12,12,12,12,12,12,12,12
ADANA-KOZAN,26,26,26,26,26,26,26,26,26,26,26,26
...,...,...,...,...,...,...,...,...,...,...,...,...
ŞANLIURFA-SIVEREK,2,2,2,2,2,2,2,2,2,2,2,2
ŞANLIURFA-SURUÇ,7,7,7,7,7,7,7,7,7,7,7,7
ŞIRNAK-MERKEZ,1,1,1,1,1,1,1,1,1,1,1,1
ŞIRNAK-SILOPI,1,1,1,1,1,1,1,1,1,1,1,1
ŞIRNAK-ULUDERE,1,1,1,1,1,1,1,1,1,1,1,1

From earthquake data we will need earthquake counts and distance to the important earthquakes.

In [20]:
# filtering city data to another frame and saving it as pickle file
city_earthquaques = earthquake.groupby('Location_name').count().reset_index()
#filtering the columns, count and locaation
city_earthquaques = city_earthquaques[['Location_name', 'EventID']]
#renaming the count column
city_earthquaques.rename(columns={'EventID':'Count_lastmonth'}, inplace=True)
#saving the dataframe as pickle file
city_earthquaques.to_pickle('../data/manipulated/city_earthquaques.pkl')

In [21]:

# filtering the most important observations to another dataframe later to be used to check distances.
day_eq= earthquake[earthquake['Magnitude'] > 6.5]
#saving the dataframe as pickle file
day_eq.to_pickle('../data/manipulated/day_eq.pkl')